@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定義 TailwindCSS 的變數 */
@layer base {
  :root {
    --primary: 124 144 201;
    --second: 154 162 193;
    --third: 200 210 227;
  }
}

@layer utilities {
  .mainBackgroundColor {
    @apply bg-gradient-to-b from-[rgb(238,247,254)] to-[rgb(236,237,255)];
  }
  .contentWide {
    @apply w-[400px];
  }
}

/* 自定義 scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(200, 210, 227);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: rgb(154, 162, 193);
}

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
